Repository netobserv/netobserv-catalog: changes, and which Tekton pipelines are due for each by the changed paths.
All: catalog-4-14-on-push, catalog-4-19-on-push

catalog-4-14-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/catalog-4-14:latest
  - name: build-args-file
    value: templates/next-release.Dockerfile-args
  - name: dockerfile
  ...

catalog-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-network-observab-tenant/catalog-4-19:latest
  - name: build-args-file
    value: templates/next-release.Dockerfile-args
  - name: dockerfile
  ...

dummy change
  README.md
  auto-generated/catalog/z-stream.yaml
Due: none

Update pipeline-ref.yaml
  .tekton/pipeline-ref.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push

Fix sed command to also handle ystream
  .tekton/images-mirror-set.yaml
  Makefile
  auto-generated/catalog/released.yaml
  auto-generated/catalog/y-stream.yaml
  auto-generated/legacy-catalog/released.yaml
  auto-generated/legacy-catalog/y-stream.yaml
  templates/released.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push

Regenerating catalogs
  auto-generated/catalog/y-stream.yaml
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
Due: none

Releasing 1.9.2
  auto-generated/catalog/released.yaml
  auto-generated/legacy-catalog/released.yaml
  templates/next-release.Dockerfile-args
  templates/released.yaml
Due: catalog-4-14-on-push

Post release bump
  auto-generated/catalog/y-stream.yaml
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
  templates/y-stream.yaml
  templates/z-stream.yaml
Due: none

Regenerating catalog and bumping docker buildversion
  auto-generated/catalog/y-stream.yaml
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
  templates/next-release.Dockerfile-args
  templates/z-stream.Dockerfile-args
Due: catalog-4-14-on-push

Releasing 1.9.3
  auto-generated/catalog/released.yaml
  auto-generated/catalog/y-stream.yaml
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/released.yaml
  auto-generated/legacy-catalog/y-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
  templates/released.yaml
  templates/y-stream.yaml
  templates/z-stream.Dockerfile-args
  templates/z-stream.yaml
Due: catalog-4-14-on-push

Not to be merged, updating y-stream catalog for testing
  auto-generated/catalog/y-stream.yaml
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
  templates/y-stream.yaml
Due: none

final zstream
  .tekton/images-mirror-set.yaml
  auto-generated/catalog/released.yaml
  auto-generated/legacy-catalog/released.yaml
  templates/next-release.Dockerfile-args
  templates/released.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push

Red Hat Konflux update catalog-5-0
  .tekton/catalog-5-0-pull-request.yaml
  .tekton/catalog-5-0-push.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push

Update catalog-5-0-pull-request.yaml
  .tekton/catalog-5-0-pull-request.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push

Update catalog-5-0-push.yaml
  .tekton/catalog-5-0-push.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push

Update .tekton/catalog-5-0-pull-request.yaml
  .tekton/catalog-5-0-pull-request.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push

Adding release file for fbc on Openshift 5.0
  releases/1.12.0/fbc.yaml
Due: none

1.12.2 rc1
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
  templates/z-stream.yaml
Due: none

refresh catalogs
  README.md
  auto-generated/catalog/released.yaml
  auto-generated/catalog/released.yaml-e
  auto-generated/catalog/y-stream.yaml
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/released.yaml
  auto-generated/legacy-catalog/y-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
  templates/released.yaml
Due: catalog-4-14-on-push

1.12.2 rc2 + refreshed ystream
  auto-generated/catalog/y-stream.yaml
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
  templates/z-stream.yaml
Due: none

fix pipeline
  .tekton/pipeline-ref.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push

1.12.2 rc3
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
  templates/z-stream.yaml
Due: none

1.12.2 rc4
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/released.yaml-e
  auto-generated/legacy-catalog/z-stream.yaml
  templates/z-stream.yaml
Due: none

update flp images
  auto-generated/catalog/y-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
Due: none

update FLP image
  auto-generated/catalog/y-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
Due: none

update FLP image (#119)
  auto-generated/catalog/y-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
Due: none

update catalogs
  auto-generated/catalog/y-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
Due: none

update catalogs (#120)
  auto-generated/catalog/y-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
Due: none

refresh catalogs
  auto-generated/catalog/y-stream.yaml
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
Due: none

final(?) 1.12.2 + refreshed ystream
  auto-generated/catalog/y-stream.yaml
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
Due: none

update ocp5 repository
  .tekton/catalog-5-0-pull-request.yaml
  .tekton/catalog-5-0-push.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push

final 1.12.2
  auto-generated/catalog/released.yaml
  auto-generated/legacy-catalog/released.yaml
  templates/next-release.Dockerfile-args
  templates/released.yaml
Due: catalog-4-14-on-push

store 1.12.2 release objects; add generate.sh script
  Konflux.md
  releases/1.12.2/fbc.yaml
  releases/1.12.2/netobserv.yaml
  releases/generate.sh
Due: none

regen catalogs, prepare 1.12.3
  auto-generated/catalog/released.yaml
  auto-generated/catalog/y-stream.yaml
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/released.yaml
  auto-generated/legacy-catalog/y-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
  templates/released.yaml
  templates/y-stream.yaml
  templates/z-stream.Dockerfile-args
  templates/z-stream.yaml
Due: catalog-4-14-on-push

Update Konflux.md: testing the upgrade
  Konflux.md
Due: none

refresh catalog - 1.12.3 next rc
  auto-generated/catalog/y-stream.yaml
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
  auto-generated/legacy-catalog/z-stream.yaml
Due: none

Final 1.12.3
  auto-generated/catalog/released.yaml
  auto-generated/catalog/z-stream.yaml
  auto-generated/legacy-catalog/released.yaml
  auto-generated/legacy-catalog/z-stream.yaml
  templates/next-release.Dockerfile-args
  templates/released.yaml
Due: catalog-4-14-on-push

2.0 rc0
  auto-generated/catalog/y-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
Due: none

2.0 release candidate (fixed agent)
  auto-generated/catalog/y-stream.yaml
  auto-generated/legacy-catalog/y-stream.yaml
Due: none

Path conditions:
  catalog-4-14-on-push: (((any of: .tekton/***) or (any of: Dockerfile)) or (any of: templates/next-release.Dockerfile-args)) or (any of: auto-generated/legacy-catalog/released.yaml)
  catalog-4-19-on-push: ((any of: .tekton/***) or (any of: Dockerfile)) or (any of: ./auto-generated/catalog/released.yaml)
